.content-section.content-section_states.content-section_halved
    .content-options
        .content-section__title Главное
    .board
        include board-parts/left
        include board-parts/right