.content-section.content-section_scripts.content-section_halved.content-section_arrows
    .content-options
        .content-section__title Избранные сценарии
        +arrows
    +infoList('scripts')(class='scroll scroll_vertical')