section.content.section
    .container.content-container
        .halved-content
            include content-parts/board
            include content-parts/scripts
        include content-parts/favorites