<!DOCTYPE html>
include intermediate
html(lang='ru')
    include components/head
    body
        .shade.transparent
        .main
            include components/header
            include components/content
            include components/footer
        script(src='bundle.js')