<div class="content-section content-section_favorite_devices content-section_arrows">
    <div class="content-options">
        <div class="content-section__title">
            Избранные устройства
        </div>
        <nav class="content-section-filter navigation navigation_filter">
            <ul class="navigation-list navigation-list_filter">
                <%- 
                    createFilter(
                        [
                            'Все', 
                            'Кухня',  
                            'Зал', 
                            'Лампочки', 
                            'Камеры'
                        ], 
                        'navigation-list__item filter__option', 
                        'filter__option_active'
                    ); 
                %>
            </ul>
        </nav>
        <%- include('static/arrows.ejs') %>
    </div>
    <%- include('dist/device.favorite.ejs') %>
</div>