<div class="content-section content-section_main">
    <div class="content-section__title">
        Главное
    </div>
    <%- include('static/board.ejs') %>
</div>
<div class="content-section content-section_favorite_scripts content-section_arrows">
    <div class="content-options">
        <div class="content-section__title">
            Избранные сценарии
        </div>
        <%- include('static/arrows.ejs') %>
    </div>
    <%- include('dist/device.script.ejs') %>
</div>