.board__part.board__part_left.board__part_state
    .board-title
        .board-title__intro Привет, Евлампий!
        .board-title__state Двери и окна закрыты, сигнализация включена
    .board-states
        .board-state
            .board-state__location.board-state__location_home Дома
            .board-state__deg.board-state__deg_normal +23
        .board-state
            .board-state__location.board-state__location_outside За окном
            .board-state__deg.board-state__deg_rain +19