@import 'device.sss'

.footer
    padding: 20px 0
    color: $color-text-gray
    font-size: 12px

.navigation-list_footer
    .navigation-list__item
        margin-right: 10px
        display: inline-block

.copyright
    display: inline-block
    text-align: right
    flex-grow: 2