$color-white: #fff
$color-text-black: #333333
$color-text-gray: #858585
$color-lightGray: #f7f7f7
$color-text-lightGray: #f0f0f0
$color-yellow: #ffd93e
$color-lightYellow: #ffea51
$color-shadow: rgba(197, 186, 186, .5)
$container-size: 96%
$section-padding-left: 40px
$section-padding-right: 26px
$animate: 0.2s all linear