.burger
    display: none

@media (max-width: 679px)
    .burger
        background: $color-white
        padding: 5px
        border-radius: 5px
        box-sizing: border-box
        z-index: 1000000000
        display: block