.roller__arrow
    $s: 10px
    width: $s
    height: $s

.roller__value
    font-size: 64px
    z-index: 1
    position: absolute

.roller-nav
    transform-origin: center center
    transform: rotate(58deg)

.roller-wrapper
    display: flex
    justify-content: center
    align-items: center

.roller-arrow-wrapper
    z-index: 10000
    box-sizing: border-box
    height: 187px
    transform-origin: center center
    display: flex
    position: absolute
    transform: rotate(-148deg)
