<div class="slide-arrows">
    <img class="slide-arrows__arrow slide-arrows__arrow_left" src="./images/arrow_left.svg">
    <img class="slide-arrows__arrow slide-arrows__arrow_right" src="./images/arrow_right.svg">
</div>