<div class="board">
    <div class="board-part board__left board-part_state">
        <div class="board-intro-title">
            <div class="title__intro">
                Привет, Евлампий!
            </div>
            <div class="title__state">
                Двери и ока закрыты, сигнализация включена
            </div>
        </div>
        <div class="board-states">
            <div class="board-state">
                <div class="board-state__location board-state__location_home">
                    Дома
                </div>
                <div class="board-state__home board-state__state board-state__state_normal">
                    +23
                </div>
            </div>
            <div class="board-state">
                <div class="board-state__location board-state__location_outside">
                    За окном
                </div>
                <div class="board-state__home board-state__state board-state__state_rain">
                    +19
                </div>
            </div>
        </div>
    </div>
    <div class="board-part board__right board-part_devices_state">
        <%- include('../dist/device.state.ejs') %>
    </div>
</div>