<footer class="footer section">
    <div class="footer-container container">
        <nav class="navigation navigation_footer">
            <%- include('footer-menu.ejs') %>
        </nav>
        <div class="copyright">
            &copy; 2001-2017 ООО «Яндекс»
        </div>
    </div>
</footer>