<ul class="navigation-list navigation-list_footer">
    <a href="#" class="link">
        <li class="navigation-list__item">
            Помощь
        </li>
    </a>
    <a href="#" class="link">
        <li class="navigation-list__item">
            Обратная связь
        </li>
    </a>
    <a href="#" class="link">
        <li class="navigation-list__item">
            Разработчикам
        </li>
    </a>
    <a href="#" class="link">
        <li class="navigation-list__item">
            Условия использования
        </li>
    </a>
</ul>