<header class="header section">
    <div class="header-container container">
        <img src="images/logo.svg" class="header-container__logo"></img>
        <nav class="navigation navigation_header">
            <%- include('header-menu.ejs') %>
        </nav>
        <img src="images/i_list.svg" class="burger">
        <nav class="navigation navigation_header_phone_screen">
            <ul class="navigation-list navigation-list_header_phone_screen">
                <%- include('header-menu.ejs') %>
                <%- include('footer-menu.ejs') %>
            </ul>
        </nav>
    </div>
</header>