<ul class="navigation-list navigation-list_header">
    <a href="#" class="link link_active header_link">
        <li class="navigation-list__item header-menu__item">
            Сводка
        </li>
    </a>
    <a href="#" class="link header_link">
        <li class="navigation-list__item header-menu__item">
            Устройства
        </li>
    </a>
    <a href="#" class="link header_link">
        <li class="navigation-list__item header-menu__item">
            Сценарии
        </li>
    </a>
</ul>